/* Contact.css */

.contact-section {
  text-align: center;
  padding: 80px 20px;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.contact-section h2 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.contact-section h2 span.me{
  color: var(--brand-color);
}

hr{
  width: 80px;
  padding: 0 10px;
  margin: 0 auto;
  margin-top: -10px;
  border: 1px solid #000;
}
.contact-section p {
  font-size: 0.98rem;
  
  line-height: 1.6;
}

.contact-form {
  display: grid;
  gap: 20px;
}

.input-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.input-field {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  background: #c7d0d4;
}

.message-area {
  resize: vertical;
  width: 100%;
  background: #c7d0d4;
}


.contact-form button {
  padding-top: 0.75rem;
    padding-bottom: 0.75rem; 
    padding-left: 2rem;
    padding-right: 2rem; 
    border-radius: 0.375rem; 
    color: #ffffff; 
    background-color: #3B82F6; 
}

.contact-form button:hover {
  background-color: #ffffff; 
  color: #3B82F6;
  border: 1px solid #3B82F6;
}
