/* Hobbies.css */
.hobbies-section {
  text-align: center;
  padding: 60px 20px;}

.hobbies-heading {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000000;
}

.hobbies-text {
  font-size: 1.1rem;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

.animated-text {
  animation: fadeIn 3.5s ease-out 0.5s;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}