:root {
  --bg-dark: #0f141e;
  --bg-light: #f9f9f9;
  --dark-color: rgba(15, 20, 30, 0.8);
  --danger-color: #ea4343;
  --brand-color: #0d5c99;
}

*, ::before, ::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Josefin sans', sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.container{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  padding: 0 20px;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color:#000;
}

p{
  margin: 10px 0;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

.reveal{
  transform: translate(200px);
  opacity: 0;
  transition: all 2s ease;
}

.show{
  transform: translateY(0px);
  opacity: 1;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  height: 100%;
  padding: 40px 0;
}

.active{
  color: var(--brand-color) !important;
}
.scroll-top{
  position: sticky;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}



@media screen and (max-width: 768px) {
  body {
    text-align: justify;
  }
  .grid{
    grid-template-columns: 1fr;
  }
  
}


/*animations */

.animated-heading {
  animation: slideInFromTop 1s ease-out; /* Example animation */
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
